.App {
  text-align: center;
  /* overflow: scroll; */
  background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/v1612029268/Stand-up-Comedy_gkdwqx.jpg);
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}

.laughtitle {
  color: rgb(235, 188, 68);
  font-family: 'Limelight', cursive;
  font-size: 60px;
}

.searchform {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.description {
  color: rgb(235, 188, 68);
}

.App-link {
  color: #61dafb;
}

.showsbox {
  margin: 30px;
  padding: 40px 60px;
  height: 100vh;
  text-align: start;
  overflow: scroll;
  color: white;
}

.oneshow {
  border: groove gray;
  opacity: .9;
  padding: 1%;
}

.viewOnMap {
  color: blue;
  text-decoration: underline;
}