.App {
  text-align: center;
  /* overflow: scroll; */
}

.laughtitle {
  color: rgb(235, 188, 68);
}

.description {
  color: rgb(235, 188, 68);
}

.App-link {
  color: #61dafb;
}

.showsbox {
  margin: 50px;
  padding: 40px 60px;
  height: 100vh;
  text-align: start;
  overflow: scroll;
}

.oneshow {
  border: groove gray;
  opacity: .8;
  padding: 1%;
}